.social-icons {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.social-icons i {
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 6px;
  margin: 5px;
  margin: 5px;
  color: #fff;
}

.social-icons i:hover {
  transform: scale(1.1);
  border: 1px solid #6648B1;
  color: #6648B1;
}

/*Slide Down*/
@keyframes slideInDown {
  from {
    opacity: 0;
    transform: translatey(-400px);
  }

  to {
    opacity: 1;
    transform: translatey(0px);
  }
}

.fade-in-icons {
  animation: slideInDown 4s;
  position: relative;
  animation-timing-function: ease;
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .social-icons {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .social-icons i {
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 8px;
    margin: 5px;
  }
}
